/* .aboutbanner{
    background-image: url('../img/about/aboutbanner.png');
    position: relative;
    object-fit:fill;
    background-size: 100%;
     
    height:auto;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.10)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.10));
    
}
.aboutbannertext{
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 160%;
    position: absolute;
    top: 25%;
    left: 200px;

   
    
    color: #FFFFFF;
    
}
 
@media(max-width:1000px)
{
 
    .bannerimg{
width: 400px ;
}
} */

 
.contantabout h3{
    /* text-align: center; */
    font-family: 'Prompt';
font-style: normal;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 60px;
   
}

.banner-container{
    align-items: center;
}

.banner-container .banner{
    background-image: url('../img/about/aboutbanner.png');
    object-fit:cover;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
 
    justify-content: center;
    flex-wrap: wrap;
   
}
.banner-container .banner .contantabout{
    flex:1 1 250px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
}
.banner-container .banner .contantabout h3{
    color:#fff;
    font-size: 35px;
}
.banner-container .banner .carimg{
    position: relative;
    bottom: -10px;
    right: 90px;
    flex:1 1 250px;
}
.banner-container .banner .carimg img{
    width:100%;
}
@media (max-width:1000px){
    .banner-container .banner .carimg img{
        width:100%;
        position: relative;
        left: 70px;
    }
    .banner-container .banner .contantabout{
        flex:1 1 120px;
     
    }
    .contantabout h3{
        
        font-size: 25px !important;
        margin-top: -10px !important;
        line-height: 35px;
     
       
    }
   
}

@media (max-width:768px){
    .banner-container .banner .carimg img{
        width:100%;
        position: relative;
        left: 70px;
    }
    .banner-container .banner .contantabout{
        flex:1 1 120px;
     
    }
    .contantabout h3{
        
        font-size: 25px !important;
        margin-top: -10px !important;
        line-height: 40px;
     
       
    }
   
}
@media (max-width:600px){
    /* .banner-container .banner .carimg{
        display: none;
    } */
    
    .contantabout h3{
        
        font-size: 20px !important;
        margin-top: -10px !important;
        line-height: 20px;
     
       
    }
   
}
@media (max-width:500px){
    /* .banner-container .banner .carimg{
        display: none;
    } */
    .contantabout h3{
        padding-left: 20px;
        text-align: left !important;
        font-size: 15px !important;
        margin-top: -15px !important;
        line-height: 15px;
     
       
    }
    .banner-container .banner .carimg img{
        width:100%;
        position: relative;
        left: 60px;
    }
    .banner-container .banner .contantabout{
        flex:1 1 120px;
     
    }
   
}
@media (max-width:420px){
    .banner-container .banner .carimg{
        display: none;
    }
    .contantabout h3{
        text-align:  center !important;
        font-size: 15px !important;
        margin-top: -45px !important;
        line-height: 15px;
     
       
    }
    
   
}



/* Second Banner  */
.aboutsecondbanner{
    margin-top: 100px;
    padding-left: 6rem !important;
    padding-right: 6rem !important;

}
.abouttextimg{
    width: 100%;
    z-index: 100;

}
.abouttextimg1{
    width: 30%;
    position: absolute;
    bottom: -20px;
    left: 0px;
    z-index: -1000;
  

}
.abouttext{
    font-family: 'Prompt';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
 

/* other text color */

color: #838EA1;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.abouthead{
    font-family: 'Prompt';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #3A456E !important;

}
.aboutparagraph{
    font-family: 'Prompt';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 140%;
color: #838EA1;
}
@media(max-width:768px)
{
    .aboutsecondbanner{
    
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    
    }
}