.contantabout h3{
    font-family: 'Prompt';
font-style: normal;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 60px;
   
}

.banner-container{
    align-items: center;
}

.banner-container .banner{
    background-image: url('../img/about/aboutbanner.png');
    object-fit:cover;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
 
    justify-content: center;
    flex-wrap: wrap;
   
}
.banner-container .banner .contantabout{
    flex:1 1 250px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
}
.banner-container .banner .contantabout h3{
    color:#fff;
    font-size: 35px;
}
.banner-container .banner .carimg{
    position: relative;
    bottom: -10px;
    right: 90px;
    flex:1 1 250px;
}
.banner-container .banner .carimg img{
    width:100%;
}
@media (max-width:1000px){
    .banner-container .banner .carimg img{
        width:100%;
        position: relative;
        left: 70px;
    }
    .banner-container .banner .contantabout{
        flex:1 1 120px;
     
    }
    .contantabout h3{
        
        font-size: 25px !important;
        margin-top: -10px !important;
        line-height: 35px;
     
       
    }
   
}

@media (max-width:768px){
    .banner-container .banner .carimg img{
        width:100%;
        position: relative;
        left: 70px;
    }
    .banner-container .banner .contantabout{
        flex:1 1 120px;
     
    }
    .contantabout h3{
        
        font-size: 25px !important;
        margin-top: -10px !important;
        line-height: 40px;
     
       
    }
   
}
@media (max-width:600px){
    
    .contantabout h3{
        
        font-size: 20px !important;
        margin-top: -10px !important;
        line-height: 20px;
     
       
    }
   
}
@media (max-width:500px){
    .contantabout h3{
        padding-left: 20px;
        text-align: left !important;
        font-size: 15px !important;
        margin-top: -15px !important;
        line-height: 15px;
     
       
    }
    .banner-container .banner .carimg img{
        width:100%;
        position: relative;
        left: 60px;
    }
    .banner-container .banner .contantabout{
        flex:1 1 120px;
     
    }
   
}
@media (max-width:420px){
    .banner-container .banner .carimg{
        display: none;
    }
    .contantabout h3{
        text-align:  center !important;
        font-size: 15px !important;
        margin-top: -45px !important;
        line-height: 15px;
     
       
    }
    
   
}
.aboutline{
    width: 350px;
    height: 2px;
    position: relative;
  left: -190px;
    background-color: #FFCB47;
    z-index: 1000;
}



/* Second Banner  */
.aboutsecondbanner{
    margin-top: 100px;
    padding-left: 6rem !important;
    padding-right: 6rem !important;

}
.abouttextimg{
    width: 100%;
    z-index: 100;

}
.abouttextimg1{
    width: 30%;
    position: absolute;
    bottom: -20px;
    left: 0px;
    z-index: -1000;
  

}
.abouttext{
    font-family: 'Prompt';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
 

/* other text color */

color: #838EA1;
}
.abouthead{
    font-family: 'Prompt';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #3A456E !important;

}
.aboutparagraph{
    font-family: 'Prompt';
    font-weight: 300 !important;
font-style: normal;
font-size: 18px;
line-height: 150%;
color: #838EA1;
}
@media(max-width:768px)
{
    .aboutsecondbanner{
    
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    
    }
}


/* ==========Header About ==============  */
.aboutintenal{
    display: none;
}
.aboutheadicon{
    margin-left: 3rem;
    margin-right: 3rem;


}
.pinterest{
    padding-left: 1rem;
    padding-right: 1rem;
}

@media(max-width:995px)
{
    .aboutexternal{
        display: none;
    }
    .aboutintenal{
        display: block;
    }
    .aboutheadicon{
        margin-left: 0rem;
        margin-right: 0rem;
    
    }
    .pinterest{
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
}
/* ===========social icons Code Start ========== */
.pinterest{
   color: #3A456E;;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    position: relative;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }
  .icon:before{
    font-family: "FontAwesome", sans-serif;
    color: #fff;
    font-size: 20px;
  }
  .pinterest span{
    background: #fff;
   color: #3A456E;;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 30px;
    padding-top: 3px;
    left: -25px;
    right: -25px;
    border-radius: 5px ;
    visibility: hidden;
    opacity: 0;
    background-color: #bcdcf9  ;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  
  .pinterest span::after{
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #bcdcf9;
    position: absolute;
    bottom: 30px;
    left: 53px;
  }
  .pinterest:hover span{
    bottom: -40px;
    visibility: visible;
    opacity: 1;
  }
  
   
 
/* ===========social icons Code Start ========== */


