.aboutexternal_buy a{
    font-family: 'Prompt';
    font-weight: 500;   
    color: #3A456E;
}
.buy_header{
 border: 1px solid #2A84F2;
    background: #F3F4F8;
}

/* ################## Buy Search and Logo ############## */
/* form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #2A84F2;
    float: left;
    width: 80%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #f1f1f1;
  }
  form.example button {
 border-top-right-radius: 5px;
 border-bottom-right-radius: 5px;

    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid #2A84F2;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  @media(max-width:500px)
  {
    form.example input[type=text] {
       margin-top: 20px;
        width: 100%;

        border-radius: 5px !important;
        
      }
      form.example button {
        margin-top: 10px;
        border-radius: 5px !important;
        
        width:120px;
       
      }
  } */
/* ################## Buy Search and Logo  End ############## */




  .buysection2{
        
padding-left: 3rem;
padding-right: 3rem;
    background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  }
  @media(max-width:786px)
  {
    
    .buysection2{
    
        padding-left: 2rem;
        padding-right:2rem;
       
          }

  }


  /*################# Image Slider Start  ################# */

 
  /* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  background-color: #0d99ff;
  font-size: 12px;
  /* transition: 0.6s ease; */
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #7e8c8d;
  color: white;
}

.active{
  border: 1px solid #0d99ff;
} 

#main{
  width:100%;
  object-fit:cover;
  display:block;
  margin:20px auto;
  border-radius: 5px;
  background-color:#efeeef;

}
.counter{
  position: absolute;
 bottom: 0px;

   left: 50%;

   font-family: 'Prompt';
font-style: normal;
font-weight: 600;
font-size: 18px;


color: #3A456E;

}
.sliderimg{
  width: 100%;
  object-fit: cover !important;
}
@media(max-width:580px)
{
  .sliderimg{
    width: 30%;
    padding-top: 10px;   
  }
  .buysection2{
    
    padding-left: 1rem !important;
    padding-right:1rem !important;
   
      }

}
  
  /*################# Image Slider End ################# */

  /*################# slider Top Link Start  ################# */


  .buylink{
    font-family: 'Prompt';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
color: #838EA1;
text-decoration: none;


  }
  .buylink:hover{
    font-family: 'Prompt';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
color: #2A84F2;
  
text-decoration: underline;
text-underline-position: under;
text-decoration-thickness: 1px;


  }
  /*################# slider Top Link End  ################# */


  /*#################> buy product right side coloumn Start <################### */
  .buysecondhead{

font-family: 'Prompt';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 27px;
/* main text color */
color: #3A456E;

  }
  .buy_doller{
    font-family: 'Prompt';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;

/* main text color */

color: #3A456E;

  }

  .buy_product_btn{
    width: 70%;
    
  }
  /*#################> buy product right side coloumn End <################### */
