 .sectiona
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7

}
.sectiona::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #fff;
}

.containera 
{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
    /* border-radius: 22px; */
    /* background-color: #fff; */

}

.containera  .contactInfo
{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background:#2A84F2;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15); 
    border-radius: 22px;
}

.containera  .contactInfo h2
{
    color: #fff;
    font-size:24px;
    font-weight: 500;
}

.containera  .contactInfo ul.info 
{
   position: relative;
   margin: 20px 0; 
}

.containera  .contactInfo ul.info li
{
   position: relative;
   list-style: none;
   display: flex;
   margin: 20px 0;
   cursor: pointer;
   align-items: flex-start;
}

.containera  .contactInfo ul.info li span:nth-child(1)
{
    width: 30px;
    min-width: 30px;
}

/* for gmail */
.containera .contactInfo ul.info li span a
{
    color: #fff;
    text-decoration: none;
    width: 30px;
    min-width: 30px;
    
}

.containera .contactInfo ul.info li span:nth-child(1) img
{
    max-width: 100%;
    filter: invert(1);
}

.containera .contactInfo ul.info li span:nth-child(2)
{
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}

.containera .contactInfo ul.sci
{
    position: relative;
    display: flex;
}

.containera .contactInfo ul.sci li
{
   list-style: none;  
   margin-right: 15px;
}

.containera .contactInfo ul.sci li a
{
   text-decoration: none;
}

.containera .contactInfo ul.sci li a img
{
   filter: invert(1);
}

.containera .contactForm
{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff; 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 22px;
}

.containera .contactForm h2
{
    color:#2A84F2;

    font-size: 24px;
    font-weight: 700;
}

.containera .contactForm .formBox
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.containera .contactForm .formBox .inputBox
{
    position: relative;
    margin-bottom: 35px;
}

.containera .contactForm .formBox .inputBox.w50
{
    width: 47%;
}

.containera .contactForm .formBox .inputBox.w100
{
    width: 100%;
}

.containera .contactForm .formBox .inputBox input,
.containera .contactForm .formBox .inputBox textarea 
{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}

.containera .contactForm .formBox .inputBox textarea 
{
    height: 120px;
}

.containera .contactForm .formBox .inputBox span 
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.containera .contactForm .formBox .inputBox input:focus ~ span,
.containera .contactForm .formBox .inputBox input:valid ~ span,
.containera .contactForm .formBox .inputBox textarea:focus ~ span, 
.containera .contactForm .formBox .inputBox textarea:valid ~ span
{
    transform: translateY(-20px);
    font-size:  12px;
    font-weight: 400;
    letter-spacing: 1px;
    color:#2A84F2;
    font-weight: 500;
} 

/* Css for the submit button */
.containera .contactForm .formBox .inputBox input[type="submit"]         
{
    position: relative;
    cursor: pointer;
    background:blue;
    border-radius: 20px;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;

}

.containera .contactForm .formBox .inputBox input[type="submit"]:hover{
    background: #0d9480;
}
.map{
    /* width: 30rem; */
}
.sendBtn:hover{
    background-color: #fff;
    border:1px solid #2A84F2;
    color:#333
}
/* make the form responsive */
@media (max-width: 1200px)
{
    .containera     {
        width: 90%;
        min-width: auto;
        margin: 20px;
        border-radius: 22px ;
        box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    }

    .containera .contactInfo
    {
        top: 0;
        height: 550px;
        position: relative;
        box-shadow: none;
        border-radius: 22px !important;
        
    }

    .containera .contactForm
    {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none;
        border-radius: 22px !important;
    }
}

@media (max-width: 991px)
{
    .sectiona
    {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #fff38e;


    }

    .sectiona::before
    {
        display: none;
    }

    .containera     {
        display: flex;
        flex-direction: column-reverse;
    }

    .containera .contactForm
    {
        width: 100%;
        height: auto;
        border-radius: 0px;
    }

    .containera .contactInfo
    {
        width: 100%;
        height: auto;
        flex-direction: row;
        border-radius: 0px;
    }
    .containera .contactInfo ul.sci
    {
       position: relative;
       display: flex;
       justify-content: center;
       align-items: center;
    }
}

@media (max-width: 600px)
{
    .containera .contactForm
    {
        padding: 25px;
    }

    .containera .contactInfo{
        /* padding: 25px; */
        flex-direction: column;
        align-items: flex-start;
    }

    .containera .contactInfo ul.sci
    {
        margin-top: 40px;
    }

    .containera .contactForm .formBox .inputBox.w50
    {
        width: 100%;
    }
    .info{
        padding: 0px !important;
    }
    .info li span{
     
        padding-left: 0px !important;
        font-size: 12px !important;
      
    }
}
   