@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Prompt:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Prompt:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Prompt:wght@300&display=swap');




/**************** HOME PAGE ************/


.text_dec_none {
    text-decoration: none !important;
}


.header_logo img {
    width: 140px;
}

.nav_item {
    font-family: 'Prompt', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #2A84F2;

}

.nav_item {
    font-family: 'Prompt', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #2A84F2;

}

.nav_btn1 {
    height: 47px;
    width: 122px;
    padding: 12px 30px;
    border-radius: 5px;
    font-family: Prompt;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #2A84F2;
    color: #2A84F2;
}

.nav_btn1:hover {
    border: 1px solid #FFCB47;
    background: #FFCB47;
    transition: all 0.3s;
}

.nav_btn2 {
    height: 47px;
    width: 122px;
    padding: 12px 30px;
    background: #2A84F2;
    border-radius: 5px;
    font-family: Prompt;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.nav_btn2:hover {
    border: 1px solid #FFCB47;
    background: #FFCB47;
    transition: all 0.3s;
}

.navbar_setting {
    flex-grow: 0 !important;
}

.leng_drop_down_btn {
    border: none !important;
    color: #2A84F2;
}

.leng_drop_down_btn:active {
    color: #2A84F2;
}

.leng_drop_down_btn:hover {
    color: #2A84F2;
}



.leng_drop_down_btn:checked {
    color: #2A84F2;
}


.leng_drop_down .dropdown-item.active {
    background-color: #e6e6e6 !important;
    color: black;
}

.flag_img {
    width: 23px !important;
    /* border-radius: 3px; */
}


.img_card {
    /* height: 150px; */
    background: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img_card_parent {

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10 px;
    color: #3A456E;
    background: #F3F4F8 !important;
    /* width: 299px; */

}

.img_card_parent .img_card img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 310px;
    background-size: cover;
    object-fit: cover;


}

.img_card_parent {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}



.img_card_parent:hover {
    background-color: #2A84F2 !important;
    color: white;
    transition: all 0.4s;
    /* border: 2px solid #2A84F2; */
    padding: 2px;
    /* border-radius: 10px; */
}



@media only screen and (min-width: 991px) {
    .leng_drop_down {
        left: -120px !important;
        top: 50px !important;
        overflow: hidden !important;

    }
}





/**************** HOME PAGE END************/





/**************** LOG IN PAGES & SIGNUP ETC************/

.sigin-bg-color {
    background: #FFFFFF;
}

.btn-enter1 {
    width: 100%;
    color: black;
    border: 2px solid #2A84F2;
    border-radius: 4px;

}

.btn-enter1:hover {

    border: 2px solid #2A84F2;


}

.btn-enter {
    width: 100%;

}

.logsignmain {
    height: 100vh;
}

.loglogo {
    width: 200px
}

.head-text-form {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    color: #3A456E;
}

.form-label {
    position: relative;
    font-family: 'Prompt';
    font-style: normal;
    font-size: 20px;

    color: #3A456E !important;
}

.form-labelforget {
    position: relative;
    font-family: 'Prompt';
    font-style: normal;
    font-size: 20px;

}

.bg-img:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #F3F4F8;
    ;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    backdrop-filter: blur(3px);
}

.content header {
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 35px 0;
}


.sectionblock {
    position: relative;
    height: 40px;
    width: 100%;
    display: flex;

    border-radius: 4px;
    background: #EEEEEE;
}

.sectionblock input:focus {
    box-shadow: #2A84F2 0px 0px 5px;
}

.sectionblock span {
    color: #2A84F2;
    width: 40px;
    line-height: 45px;
    position: relative;
    right: 15px;
}

.sectionblock input {
    border: 1px solid #2A84F2 !important;
    height: 100%;
    width: 100%;
    background: transparent;
    border-radius: 4px;
    outline: none;
    color: #222;
    font-size: 18px;
}

.toggle-password:hover {
    cursor: pointer;
}

.signup {
    color: black;
    font-weight: bold;
}

.account {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;

    /* main text color */

    color: #3A456E;
}

.long-value-input {
    width: 200px;
    height: 30px;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.btn-enter {
    color: white;
    background-color: #2A84F2;
    border-radius: 4px;
    height: 40px;
}

.btn-enter:hover {
    background-color: #2A84F2;
    color: white;
}

.hero a {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: #2A84F2;

}

.loginpragraph {
    font-family: 'Prompt';
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;

}

@media(max-width:786px) {
    .logform {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.imgsize {
    width: 70px;
}

/* forget Password  */
.paragraph {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(131, 142, 161, 0.5);


}

.emailparagraph {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;


    color: #838EA1;

}

.backlog a {
    text-decoration: none;
}



.sign_up_link {
    font-weight: 650;
    font-family: 'Roboto Slab';
}



.check_your_email {
    font-size: 17px;
    color: #838EA1;
    font-family: 'Roboto Slab';
    font-style: normal;
}

.forward_back_icon {
    width: 24px;
}


/**************** LOG IN PAGES & SIGNUP ETC  END************/





/**************** FOOTER START************/



.footercontain {
    background-color: #2A84F2;
}

.loglogo {
    width: 200px;
}

.footer-text {
    font-family: Prompt;
    font-size: 14px;
    color: white;
    line-height: 30px;
    text-align: justify;
}

.footerhead {
    font-family: Prompt;
    color: white;
    font-weight: 600;
}

.footerselect {
    font-family: Prompt;
    text-decoration: none;
    color: white;

}

.footerselect h6 {
    font-family: Prompt;
    line-height: 40px;
}

.footerselect:hover {
    color: darkgrey;
}

.footerline {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-bottom: 10px;

}

.footercopyroght {
    font-family: Prompt;
    text-align: center;
    color: white;
}




/**************** FOOTER END************/





/**************** HOME SCREEN************/




.select_option {
    cursor: pointer;
    font-size: 16px;
    text-overflow: ellipsis;
    color: #444;
    line-height: 28px;
    border-radius: 0.375rem;

}





.search_section {
    line-height: 32px;
    font-size: 16px;
}

/* .search_section_div {
    width: 150px;
} */



.category_img_banner {
    background-image: url('../img/category-images-banner/car-banner.jpeg'), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 240px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    background-size: cover;
}



.banner_heading {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;

}


.banber_title {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(255, 231, 108);
    background-color: #7e8c8d;
    padding: 5px 10px;
}

.text_d_none {
    text-decoration: none;
}


.category_icon_span {
    background-color: hsl(213, 88%, 56%);
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    width: 35px;
    height: 35px;
}

.category_icon_span:hover {
    background-color: #7e8c8d;
}

.category_icon {
    color: white;
    text-align: center;
    margin-top: 10px;
}


.category_icon_name {
    text-align: center;
    font-size: 10px;
    color: #838ea1;
    font-size: 9px;
    font-weight: 600;
}

.category_icon_parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 14px;
}



.url_link_onpage {
    color: #7e8c8d;
}


.heading_bg_div {
    background-image: url('../img/heading-bg-md.svg');
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 40px;
    /* vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    background-size: cover; */
}

.page-main-heading {
    font-family: Prompt;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #3a456e;
}




.category_images {
    background-repeat: no-repeat;
    position: relative;
    height: 100px;
    width: 100%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    background-size: cover;

}



.add-title a {
    color: #333;
    font-size: .88rem;
    font-weight: 700;

}

.add-title:hover a {
    color: #666;

}

.add-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


.product_price {
    color: #3a456e !important;
    font-family: 'Prompt' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
}


.item_list:hover {
    background: #f6f6f5;
}




.item_list:hover .make_favorite span {
    font-size: .65rem;
}

.btn-default {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover {
    color: #292b2c;
    /* background-color: #fff; */
    border-color: #ccc;
}

.make_favorite {
    width: fit-content;
}

.item_list:hover .make_favorite span {
    width: auto;
    font-size: 12px;
}

.item_list .make_favorite span {
    width: 0;
    font-size: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}


.item_list .btn.make_favorite {
    width: fit-content;
    padding: 2px 10px;
}



.reviews-widget>span.far.fa-star {
    color: #ffc32b;
}

.reviews-widget>span.far.fa-star {
    margin-top: 5px;
    font-size: 12px;
    margin-right: -4px;
}

.info-row {
    font-size: 0.7rem !important;
}


.rating-label {
    margin-top: 5px;
    font-size: 12px;
    font-family: Prompt;
    font-style: normal;
    font-weight: 300 !important;
    margin-left: 4px;
    color: #ccc;
}


.info-row span {
    font-size: 0.8rem !important;
    padding-right: 1px;
}



.c-bottom-details {
    border-top: 0.5px solid #E0E0E0;
}

.c-bottom-details .item-location, .c-bottom-details .date {
    font-size: 8px;
    font-family: Prompt;
    font-style: normal;
    font-weight: 300;
}

.item-location {
    white-space: nowrap;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

bottom-details .date {
    font-size: 8px;
    font-family: Prompt;
    font-style: normal;
    font-weight: 300;
}


.photo-count {
    background: #ccc;
    border: 0 none;
    font-size: 12px;
    opacity: .75;
    padding: 0 3px;
    position: absolute;
    right: 4px;
    top: 5px;
    border-radius: 3px px;
    color: black;
    border-radius: 2px;
}


.add_image {
    position: relative;
}



@media (min-width: 768px) {
    .cornerRibbons {
        left: -15% !important;
        top: 7% !important;
    }
}

.cornerRibbons {
    left: -15% !important;
    top: 7% !important;
}




.bg-org {
    background: #ff8c00;
}

.cornerRibbons {
    width: 100px !important;
}

.cornerRibbons {
    padding: 2px;
}

.cornerRibbons {
    box-shadow: 0 0 1px rgb(0 0 0 / 15%);
    left: -6%;
    overflow: hidden;
    position: absolute;
    top: 20%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 200px;
    z-index: 2;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}


.ribbon-text {
    font-size: 8px;
    font-weight: 700;
    margin: auto;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}


.item_list {
    /* border-bottom: solid 1px #ddd;
    border-right: solid 1px #ddd; */
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 5px;
}

.item_list:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    transition: all 0.3s;
}



.c_width {
    padding: 8px;
    /* margin-bottom: 5px; */
}



/**************** HOME SCREEN END************/









/**************** HOME SIDE BAR************/







/**************** HOME SIDE BAR END************/
















/* responsive css */



@media all and (max-width: 980px) {

    .banner_heading {
        font-size: 2.5rem;
    }

    .banber_title {
        font-size: 1.5rem;
    }
}




@media all and (max-width: 800px) {

    .banner_heading {
        font-size: 2.3rem;
    }

    .banber_title {
        font-size: 1.3rem;
    }
}


@media all and (max-width: 480px) {

    .banner_heading {
        font-size: 2.2rem;
    }

    .banber_title {
        font-size: 1.2rem;
    }
}